{% extends 'generador/layout.html' %} {% block content %}

<h1>Sobre mi</h1>

<h3 style="color: orange; width: 60%">Hola. Soy Jairo, encantado de conocerte. Por favor, miralo que hago como Developer.</h3> 
<div>
	<p>
		Me apasiona la creación de software, me encanta crear
		sitios web, aplicaciones móviles, con la mejor experiencia de usuario y sitios
		adaptables a todos los dispositivos. Además, todos los sitios web están optimizados
		para <strong>SEO</strong> y <strong>EMD</strong> (Estrategia de Marketing Digital).
		<p className="py-2">
			¿Qué harías si tuvieras un desarrollador de software a mano?
		</p>
	</p>
	<a 
	type="button"
	class="btn btn-primary fw-bold py-2" 
	href="https://jairocolon.com" 
	target="_blank"
	>
	Ver mi portfolio
</a>
</div>

{% endblock %}
